<!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
      <div class="container">
        <div class="navbar-header responsive-logo">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><%= image_tag("logo.png") %></a>
        </div>
      </div>
    </nav><!-- Fixed navbar -->
