<div class="container theme-showcase" role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Home sign in</h1>
        <p>Find me in app/views/home/index.html.erb</p>
    </div>
</div>