<%= render "elements/signinheader" %>
<div class="container theme-showcase" role="main">
<div class="row">
    <div class="col-sm-12 col-md-12 col-xs-12">
        <h1>list articles</h1>
        <% @articles.each do |article| %>
            <div class="article_card">
                <div class="article_title">
                    
                </div>
                <div class="article_action">

                </div>
            </div>
        <% end %>
    </div>
</div>  

