#main-nav {
    position: absolute;
    width: 100%;
    z-index: 1000;
    min-height: 75px;
}
.navbar-brand {
    height: 76px;
    position: relative;
    line-height: 45px;
    padding-top: 23px;
}
.navbar {
    background: #FFF;
    overflow: hidden;
    border: 0;
    border-radius: 0 !important;
    text-align: left;
    -webkit-box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.08);
    box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.08);
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #000000;
    background-color: rgba(0,0,0,0);
}
.navbar-inverse .navbar-nav > li > a {
    color: #000000;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #000000;
    background-color: transparent;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
    color: #000000;
    background-color: transparent;
    
}


@media (min-width: 768px){
    .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
        margin-right: 0;
        margin-left: 0;
    }
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: -15px;
    }
    .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
        margin-right: 0;
        margin-left: 0;
    }
}
@media (max-width: 1024px) and (min-width: 768px){
    .responsive-logo {
        width: 100%;
        position: relative;
        text-align: center;
        margin-top: 10px;
        padding-top: 5px;
    }
    .navbar-brand {
        width: 100%;
    }
    .navbar-brand img {
        margin: auto;
    }
}

.section-header {
    text-align: center;
    padding-bottom: 15px;
}

.login-wrapper {
    padding: 15px;
    border: 3px solid #aaa;
    border-radius: 10px;
}
.actions{
    padding-bottom: 15px;
    border-bottom:1px solid #ddd;
    margin-bottom: 15px; 
}

.display_hide{
    display: none;
}

.pt-15{
    padding-top: 15px;
}

.blog_wrapper>a>.blog_title {
    font-size: 36px;
    font-weight: 800;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #212529;
}
.blog_wrapper>a>.blog_des{
    font-weight: 300;
    margin: 0 0 10px;
    color: #212529;
    font-size: 1.75rem;
}
.blog_wrapper>a:hover>.blog_title, .blog_wrapper>a:hover, .blog_wrapper>a:hover>.blog_des {
   color: #0085a1;
   text-decoration: none;
}
.blog_wrapper>.blog_author{
    font-size: 18px;
    margin-top: 0;
    color: #868e96;
    font-family: Verdana, Geneva, sans-serif;
}

.blog_wrapper>.blog_author>span{
    color: #212529;;
}
.blog_wrapper>hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
.home_bg{
    position: relative;
    max-height: 530px;
    overflow: hidden;
}
.label-home {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}
.label-home>h1 {
    margin-top: 250px;
    font-size: 40pt;
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
}

.label-home>h5 {
    font-size: 20pt;
    font-family: Verdana, Geneva, sans-serif;
}
.navbar-sign-in, .navbar-sign-in>li{
    height: 76px;
}
.navbar-sign-in > li > a {
    padding-top: 28px;
    padding-bottom: 28px;
}
.navbar-sign-in > li > .dropdown-menu {
    padding: 15px;
    min-width: 250px;
    border-radius: 6px !important;
}
.navbar{
    overflow: inherit;
}
.main-body{
    padding-top: 100px;
}
.ml-auto, .mx-auto {
    margin-left: auto!important;
    margin-right: auto!important;
}
.article_wrapper>a {
    display: block;
    overflow: hidden;
    max-height: 174px;
}
.article-title {
    font-size: 25pt;
    font-weight: bold;
    margin-bottom: 15px;
    border-bottom: 2px solid #ddd;
    position: relative;
    padding-top: 15px;
}
.article_comment {
    position: relative;
    padding: 5px 15px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    margin-top :15px; 
    margin-bottom: 15px;
}
.like_form {
    position: absolute;
    top: 0;
    right: 0;
}

a.btn.btn-like {
    border: 2px solid #47e347;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    font-size: 11px;
    color: #47e347;
    font-weight: bold;
    padding: 18px 8px;
}
a.btn.btn-unlike {
    border: 2px solid #47e347;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    font-size: 11px;
    color: #fff;
    background-color: #47e347;
    font-weight: bold;
    padding: 18px 8px;
}
.col-sm-8.col-md-8.col-xs-12.form_blog {
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 15px;
}
.comment_avatar {
    max-height: 80px;
}
.comment_avatar>img {
    height: 60px;
    width: 60px;
    margin-right: 15px;
}
.comment>div {
    position: relative;
}
.comment {
    height: 80px;
    border-top: 1px solid #ddd;
    padding: 10px;
    position: relative;
}

.comment_user {
    position: absolute !important;
    bottom: 10px;
    right: 10px;
}